/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Sacramento&family=BioRhyme:wght@300&family=Caveat&display=swap");
/* End Of Font */

body {
    font-family: "Montserrat", sans-serif;
    
    line-height: 1.6;
    background-image: url("/images/background.jpg") ;
   
}

a {
    text-decoration: none;
    color: #000;
    transition-delay: 2ms;
    font-size: 1.3rem;
}

a:hover {
    color: #e23e57;
    border-bottom: 4px solid;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-size: 2rem;
}

h1 {
    font-family: "Sacramento", cursive ;
    font-size: 5rem;
    line-height: 0.8;
}

h2 {
    font-family: "Sacramento", cursive;
    font-size: 2.5rem;
    
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

/* ----------------------Header ---------------------------------*/

.navbar {
    display: block;
    width: 100%;
    height: 80px;
}

.menu {
    display: inline;
    list-style: none;
}

.nav-item {
    
    position: relative;
    left: 58%;
    margin-top: 20px;
    margin-left: 50px;
}

.eye-trcker{
    text-align: center;
    position: relative;
    margin-top: 0;
    }
/* End of Header */

/* -------------------Side bar--------------------------- */

.sidebar btn {
    position: fixed;
    /* Position them relative to the browser window */
    right: -60px;
    /* Position them outside of the screen */
    transition: 0.7s;
    /* Add transition on hover */
    margin-top: 200px;
    padding: 25px;
    /* 15px padding */
    width: 7.188rem;
    text-decoration: none;
    /* Remove underline */
    font-size: 0px;
    color: white;
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
    text-align: left;
}

i {
    font-size: 20px;
}

.sidebar btn:hover {
    right: 3px;
    /* On mouse-over, make the elements appear as they should */
    color: antiquewhite;
    padding: 15px;
    /* 15px padding */
    font-size: 20px;
    width: 170px;
    text-align: left;
}

/* The about link: 20px from the top with a green background */

#fb {
    top: 50px;
    background-color: black;
}

#fb:hover {
    width: 120px;
}

#insta {
    top: 130px;
    background-color: #222;
}

#insta:hover, #mail:hover {
    width: 150px;
}

#github {
    top: 210px;
    background-color: #444;
}

#mail {
    top: 290px;
    background-color: #555;
}

#fb:hover, #insta:hover, #github:hover, #mail:hover {
    color: #000;
    background-color: slategray;
}

/* End Of Side bar */

/* ----------------------Middle  */

.top-para {
    margin: 20px;
    display: inline-block;
}



.container {
    margin-top: 9rem;
    margin-left: 30px;
}


/* End of Middle section */

/* Media Query */

@media (max-width: 480px) {
    .container-top {
        text-align: center;
        font-size: 10px;
        top: 10px;
        color: aqua;
    }
    .fixed {
        position: fixed;
        left: 42%;
    }
    #changingword {
        color: forestgreen;
        position: absolute;
        border-bottom: 4px solid;
        margin-left: 1rem;
    }
    a {
        text-decoration: none;
        color: white;
        transition-delay: 2ms;
        font-size: 0.3rem;
    }
    a:hover {
        color: burlywood;
        border-bottom: 4px solid;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        font-size: 0.5rem;
    }
    /* ----------------------Header ---------------------------------*/
    .nav-item {
        color: white;
        position: relative;
        left: 20%;
        margin-top: 20px;
        margin-left: 50px;
    }
    /* Side  Bar ** -------------------Side bar--------------------------- */
    button {
        position: fixed;
        /* Position them relative to the browser window */
        right: -70px;
        /* Position them outside of the screen */
        transition: 0.7s;
        /* Add transition on hover */
        text-decoration: none;
        /* Remove underline */
        font-size: 0px;
        color: white;
        border-radius: 0 5px 5px 0;
        /* Rounded corners on the top right and bottom right side */
        text-align: left;
    }
    i {
        font-size: 12px;
    }
    button:hover {
        right: 1px;
        /* On mouse-over, make the elements appear as they should */
        color: antiquewhite;
        padding: 12px;
        /* 15px padding */
        font-size: 15px;
        text-align: left;
    }
}